@import"variables";
.company-section{
    margin-top: 50px;

    @include mobile{
        margin-top: 20px;
        width: 787px;
    }
    h4{
        text-align: center;
        font-size: 30px;
        color: $primary-color;
    }
    .companies{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;

        img{
            width: 100%;
        }
    }
}